<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <style>
* {
  margin: 0;
  padding: 0; 
  font-family: 'Helvetica', sans-serif;
  box-sizing: border-box;
}

h1,h2,h3,h4 {
  font-family: "Syne", Tahoma, sans-serif;
}

.hero {
  width: 100%;
  padding: 1.5rem .5rem;
  background-color: #332FD0;  
  background-image: linear-gradient(#332FD0, #0002A1);
  color: white;
  display: flex;
}

.hero__title {
  font-size: 1.5rem;
  margin: 0 auto;
}

.content {
  padding: 0 1.5rem;
  width: 99%;
  max-width: 800px;
  margin: 0 auto;
}



.prices > li {
  color: black;
  width: 100%;
  justify-content: space-between;
  display: flex;
  margin: .2rem;
  padding: .2rem;
}


.prices li > .prices__price {
  display: inline;
}

.prices__coin {
  font-weight: bold
}

li.down {
  background: #f87171;
}

li.up {
  background: #4ade80;
}


.news__title {
  color: #0002A1;
  font-family: "Syne", Tahoma, sans-serif;
  font-size: 2rem;
  margin: 1rem auto;
  display: block;
}

.news-feed {
  list-style: none;
}

.feed__itm {
  border: 3px solid #fbd8dc;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 3px;
}

.feed__title {
  color: black;
  text-decoration: underline;
  font-size: 1.5rem;
  font-weight: bold;
}

.feed__content {
  line-height: 1.5;
  margin: 1rem 0;
}

.feed__img {
  border-radius: 5px;
max-width: 400px;
margin: 1.5rem auto;
}

.feed__img img {
  border-radius: 5px;
  width: 100%;
}

.feed__more {
  text-transform: uppercase;
  color: #0002A1;
  font-weight: bold;
}


footer {
  padding: .8rem .5rem;
  background-color: #d1d5db;
  margin-top: .5rem;
  display: flex;
  justify-content: center;
}

.footer__link {
  font-weight: bold;
  margin-right: .5rem;
}
  </style>
</head>
<body>
  <section class="hero">
    <h1 class="hero__title"><%= greeting %></h1>
  </section>
  <section class="content">
    <% if (welcome) {%>
      <p class="info-block"> You will get a daily mail similar to this at <b>7:00 IST</b> Here is today's feed:</p>
    <% }%>

    <ul class="prices">
      <% for (const dat of prices) {%>
      <li class="<%= dat.change24h > 0 ? 'up' : 'down' %>">
        <span class="prices__coin"><%= dat.coin %></span>
        <span class="prices__price">$<%= dat.price %></span>
      </li>
      <% } %>
    </ul>

    <div class="news">

    <span class="news__title">Latest from TheDefiant</span>
        <ul class="news-feed">
          <% for (const dat of news) {%>
          <% if (dat.source.toLowerCase() === "thedefiant") {%>
            <li class="feed__itm">
              <a class="feed__title" target="_blank" href="<%=dat.url%>"><%=dat.title%></a>
              <div class="feed__img">
                <img src="<%=dat.img%>" alt="<%=dat.title%>">
              </div>
              <p class="feed__content"><%=dat.content.split('.').slice(0, 7).join('.')%></p>
              <a class="feed__more" href="<%= dat.url %>" target="_blank">read more</a>
            </li>
            <% } %>
          <% } %>
        </ul>

    <span class="news__title">Latest from CoinTelegraph</span>
        <ul class="news-feed">
          <% for (const dat of news) {%>
          <% if (dat.source.toLowerCase() === "cointelegraph") {%>
            <li class="feed__itm">
              <a class="feed__title" target="_blank" href="<%=dat.url%>"><%=dat.title%></a>
              <div class="feed__img">
                <img src="<%=dat.img%>" alt="<%=dat.title%>">
              </div>
              <p class="feed__content"><%=dat.content.split('.').slice(0, 7).join('.')%></p>
              <a class="feed__more" href="<%= dat.url %>" target="_blank">read more</a>
            </li>
            <% } %>
          <% } %>
        </ul>

    <span class="news__title">Latest from TheBlock</span>
        <ul class="news-feed">
          <% for (const dat of news) {%>
          <% if (dat.source.toLowerCase() === "theblock") {%>
            <li class="feed__itm">
              <a class="feed__title" target="_blank" href="<%=dat.url%>"><%=dat.title%></a>
              <div class="feed__img">
                <img src="<%=dat.img%>" alt="<%=dat.title%>">
              </div>
              <p class="feed__content"><%=dat.content.split('.').slice(0, 7).join('.')%></p>
              <a class="feed__more" href="<%= dat.url %>" target="_blank">read more</a>
            </li>
            <% } %>
          <% } %>
        </ul>
    </div>
  </section>
    <% if (welcome) {%>
    <footer>
      <a href="<%= deregisterLink %>" class="footer__link">Unsubscribe</a>
      <a href="https://github.com/aadv1k/cybernated" class="footer__link">
        GitHub
      </a>
      <a href="<%= siteLink %>" class="footer__link">
        Cybernated
      </a>
    </footer>
    <% }  %>
</body>
</html>
