<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <style>
* {
  margin: 0;
  padding: 0; 
  font-family: 'Helvetica', sans-serif;
  box-sizing: border-box;
}

h1,h2,h3,h4 {
  font-family: "Syne", Tahoma, sans-serif;
}

.hero {
  width: 100%;
  padding: 1.5rem .5rem;
  background-color: #332FD0;  
  background-image: linear-gradient(#332FD0, #0002A1);
  color: white;
  display: flex;
}

.hero__title {
  font-size: 1.5rem;
  margin: 0 auto;
}

.content {
  padding: 0 1.5rem;
}

.prices {
  margin: .8rem 0;
  display: flex;
  overflow: scroll;
  background-color: #d1d5db;
  padding: .8rem .5rem;
}

.prices > div {
  color: black;
  display: flex;
  column-gap: .5rem;
  margin: .2rem;
  padding: .2rem;
}


.prices li > .prices__price {
  display: inline;
}

.prices__coin {
  font-weight: bold
}

div.down {
  background: #ef4444;
}

div.up {
  background: #22c55e;
}

.news {
  max-width: 800px;
}

.news__title {
  width: 100%;
  background-color: #FB2576;  
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  color: white;
  padding: .1rem;
  border-radius: 3px;
}

.news > ul  {
  padding-left: 1rem;
}

.news > ul > li {
  line-height: 1.5;
  margin: .8rem 0;
}

.news > ul > li a {
  color:#332FD0;
}

.info-block {
  margin: 1.5rem 0;
}
  </style>
</head>
<body>
  <section class="hero">
    <h1 class="hero__title"><%= greeting %></h1>
  </section>
  <section class="content">
    <% if (welcome) {%>
      <p class="info-block"> You will get a daily mail similar to this at <b>7:00 IST</b> Here is today's feed:</p>
    <% }%>
    <div class="prices">
      <% for (const dat of prices) {%>
      <div class="<%= dat.change24h > 0 ? 'up' : 'down' %>">
        <span class="prices__coin"><%= dat.coin %></span>
        <span class="prices__price">$<%= dat.price %></span>
      </div>
      <% } %>
    </div>

    <div class="news">
      <span class="news__title">Coindesk</span>
      <ul class="news__coindesk">
        <% for (const dat of news) {%>
        <% if (dat.source.toLowerCase() === "coindesk") {%>
            <li>
              <a class="news__link" target="_blank" href="<%=dat.url%>"><%=dat.title%></a>
            </li>
          <% } %>
        <% } %>
      </ul>

      <span class="news__title">TheDefiant</span>
      <ul class="news__thedefiant">
        <% for (const dat of news) {%>
        <% if (dat.source.toLowerCase() === "thedefiant") {%>
            <li>
              <a class="news__link" target="_blank" href="<%=dat.url%>"><%=dat.title%></a>
            </li>
          <% } %>
        <% } %>
      </ul>

      <span class="news__title">cointelegraph</span>
      <ul class="news__cointelegraph">
        <% for (const dat of news) {%>
        <% if (dat.source.toLowerCase() === "cointelegraph") {%>
            <li>
              <a class="news__link" target="_blank" href="<%=dat.url%>"><%=dat.title%></a>
            </li>
          <% } %>
        <% } %>
      </ul>


    </div>
  </section>
</body>
</html>
