<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
   <link rel="stylesheet" href="./post.css" media="all">
   <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
   <script src="./notifier.js" type="module"></script>
</head>
<body>
  <nav>
    <a href="/" class="nav__brand"> <span class="brand">cybernated</span> </a>
  </nav>

  <article class="post">
    <h1 class="post__title"><%= post.title %></h1>

    <div class="post__img" >
      <img src="<%= post.img %>" alt="">
    </div>

    <a class="post__source" href="<%= post.url %>">
      source: <span class="source__name"><%= post.source %> </span>
    </a>

    <div class="post__content">
      <% for (const para of post.paras) { %>
        <p>
        <%= para  %>
        </p>
      <% } %>
    </div>

  </article>
</body>
</html>
